<div>
<h1>Sad to see you go .</h1>
<h2 style="font-size: 30px;text-align:center;color:red;letter-spacing:1px;font-weight:100">Are you sure? <a id="delConfirm" href="/delete/confirmed">confirm</a></h2>
</div>
<a id="backDelete" href="/thanks">↞ back</a>