<div class="container1">
        <a href="https://www.spiced-academy.com/" target="_blank"><img src="/Spiced.png" alt=""></a>
        <h1>Spicedlings EDITION</h1>
        <P>Welcome</P>
</div>

<form method='POST'>
        <input type='text' name='email' placeholder='Email Address' autocomplete='off'>
        <p>EMAIL</p>
        <input type='password' name='password' placeholder='Password' autocomplete='off'>
        <p>PASSWORD</p>
        {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
        <button> Submit </button>

        {{#if error}}
        <p class="formError">{{errorMessage}}</p>
        {{/if}}

</form>

<div style="font-size:20px;font-family:monospace;"><p style="height:20px;">Not a Registered User?</p> <p style="text-align: center;margin:0;">Click <a href="/register">here</a></p></div>