<form class="formPetition" method='POST'>
    <div class="inputsInForms">
            <input id="hiddenInput" type='hidden' name='signature' placeholder='Signature' autocomplete='off'>
    </div>
            <canvas class="canvas" style="width:500px;height:80px;background-color:yellow"></canvas><script src="canvas.js"></script>
            <button> Submit </button>
        </form>
        {{#if error}}
        <p class="formError">{{errorMessage}}</p>
        {{/if}}