<form method='POST'>
    <div class="inputsCont">
            <input type='text' name='firstname' placeholder='First Name' autocomplete='off'>
            <input type='text' name='lastname' placeholder='Last Name' autocomplete='off'>
    </div>
            <canvas style="width:300px;height:70px;background-color:yellow"></canvas>
            <button> Submit </button>
        </form>