<div class="contPet">
    <a href="https://www.spiced-academy.com/" target="_blank"><img src="/Spiced.png" alt=""></a>
    <a id="spicedlings" href="/petition">Spicedlings EDITION</a>
</div>

<div class="cont2Prof">
<div class="contProfileDesc">
        <P> You could add some extra info to your profile. <span style="color:yellow;text-decoration:underline">Note</span> that these fields are optional but if 
            you fill them, have always in mind that we protect your personal data as if they were ours...
        </p>  
</div>

<form method='POST'>
    <input type='text' name='age' placeholder='Age' autocomplete='off'>
    <p>Age</p>
    <input type='text' name='city' placeholder='City' autocomplete='off'>
    <p>City</p>
    <input type='text' name='homepage' placeholder='Homepage' autocomplete='off'>
    <p>Homepage</p>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button> Submit </button>
</form>

</div>