<div class="container1">
        <a href="https://www.spiced-academy.com/" target="_blank"><img src="/Spiced.png" alt=""></a>
        <h1>Spicedlings EDITION</h1>
        <P>Enter the Saga</P>
</div>


<form method='POST'> 
        <input type='text' name='firstname' placeholder='First Name' autocomplete='off'>
        <p>NAME</p>
        <input type='text' name='lastname' placeholder='Last Name' autocomplete='off'>
        <p>LAST NAME</p>
        <input type='text' name='email' placeholder='Email Address' autocomplete='off'>
        <p>EMAIL</p>
        <input type='password' name='password' placeholder='Password' autocomplete='off'>
        <p>PASSWORD</p>
        {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
        <button> Submit </button>  

        {{#if error}}
        <p class="formError">{{errorMessage}}</p>
        {{/if}}
        
</form>

<a id="logout" href="/login">login</a>
        

