<div class="container1">
    <a href="https://www.spiced-academy.com/" target="_blank"><img src="/Spiced.png" alt=""></a>
    <h1>Spicedlings EDITION</h1>
</div>



    <p>THANK YOU FOR SIGNING !</p>
<img src="{{thisSignature}}" alt="Your Signature">

<a class="signersLink" href="/signers">List of Signers</a>

