<div class="container1">
    <a href="https://www.spiced-academy.com/" target="_blank"><img src="/Spiced.png" alt=""></a>
    <h1>Spicedlings EDITION</h1>
</div>


    <p id="thanx">THANK YOU FOR SIGNING !</p>
    

<div id="thanxCanvas">
<img id="yourSignature" src="{{thisSignature}}" alt="Your Signature">
</div>

<a class="signersLinks" href="/signers">List of Signers</a>
<a class="signersLinks" href="/profile/edit">EDIT YOUR PROFILE</a>
<form method='POST'>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"> 
    <button id="deleteSigButton"> Delete Signature </button>         
</form>

<a id="delete" href="/delete">DELETE ACCOUNT</a>
<a id="logout" href="/logout">logout</a>