* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-family: fantasy;
    font-size: 150%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 500px;
    height: 120px;
    background-color:red;
}

.inputsInForms {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 10px;
}

input {
    width: 120px;
}

button {
    margin-top: 10px;
    background-color: black;
    color: white;
    width:100px;
    align-self: center;
     
}

.signers {
    color:white;
}

.signersLink {
    text-decoration: none;
    color:chartreuse;
}

.formError {
    align-self: center;
    color: yellow;
    font-family: monospace;
}

