* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    font-family: fantasy;
    font-size: 150%;
}
.container1 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.contPet {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    align-self:flex-start;
}

.contPetDesc {  
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    margin-bottom:50px;
}

.contProfileDesc {  
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:25px;
    margin-bottom:25px;
}

.cont2Prof{
    height:800px;
}

form {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}

.formBack {
    width:500px;
    height:500px;
    background-image: url("paint.jpg");
    background-size: cover;
}

input {
    width: 150px;
}

button {
    margin-top: 10px;
    font-family: fantasy;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: white;
    color: crimson;
    width:90px;
    height:90px;
    border-radius: 50%;
    border-color: black;
}

button:hover {
    cursor: pointer;
    background-color:cyan;
    color: white;  
}

canvas {
    margin-top:100px;
    margin-bottom:20px;
    cursor: pointer;
    background-color: black;
    border-radius: 5%;
    border: 3px solid;
}

.signers {
    color:white;
}

.formError {
    align-self: center;
    color: yellow;
    font-family: monospace;
}

.container1 h1 {
 color:white;
 font-size: 70px;
 margin: 0;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-style: italic;
 font-weight: 100;
}


.container1 p {
 font-size: 40px;
 margin-top:30px;
 margin-bottom:30px;
 color: white;
 letter-spacing: 10px;
 font-weight: 900;
 text-shadow: -1px 1px 10px purple, 1px -1px 10px purple, 1px 1px 10px purple,
        -1px -1px 10px purple;
}

.contPet img {
    width:500px;
    height:100px;
}

#spicedlings {
 color:white;
 text-decoration: none;
 font-size: 40px;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-style: italic;
 font-weight: 100;
 margin: 0;
}

#spicedlings:hover {
    color:yellow;
    text-shadow: 0 0 5px crimson, 0 0 5px crimson, 0 0 5px crimson,
        0 0 5px crimson;
}

#logout{
    align-self: flex-end;
    text-decoration: none;
    color:white;
}

.contPetDesc p {
    font-family: monospace;
    font-size: 30px;
    margin: 0;
    color: white;
    width: 800px;
    text-align:justify;
}

.contPetDesc a {
 
 color:lime;
 text-decoration: none;
}

.contPetDesc a:hover {
 color:cyan;
}

.contPetDesc span {
    color:crimson;
    letter-spacing: 1px;
    text-decoration: underline;
}

.contProfileDesc p {  
    font-family: monospace;
    font-size: 30px;
    margin: 0;
    color: white;
    width: 500px;
    text-align:justify
}

form p {
    margin:5px;
    text-align: center;
    color: crimson;
    letter-spacing: 5px;
}

#pain {
    text-decoration: none;
    color:white;
    cursor:zoom-in;
}

#pain:hover {
    text-shadow: -2px 2px 0 crimson, 2px -2px 0 crimson, 2px 2px 0 crimson,
        -2px -2px 0 crimson;
    transition:5s;
}

.signersLinks {
    text-decoration: none;
    letter-spacing: 2px;
    color:chartreuse;
    text-shadow: -1px 1px 0 crimson, 1px -1px 0 crimson, 1px 1px 0 crimson,
        -1px -1px 0 crimson;
    margin:5px;
}

.signersLinks:hover {
    color:crimson;
    text-shadow: -1px 1px 0 chartreuse, 1px -1px 0 chartreuse, 1px 1px 0 chartreuse,
        -1px -1px 0 chartreuse;
}

.edit {
    text-shadow: 0 0 5px crimson, 0 0 5px crimson, 0 0 5px crimson,
        0 0 5px crimson;
        color:black;
    letter-spacing: 4px;
    font-size: 40px;
    margin: 20px;
}

#editform {
    height:100vh;
}

#deleteSigButton {
    margin-top: 10px;
    font-family: fantasy;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: white;
    color: crimson;
    width:90px;
    height:90px;
    border-radius: 50%;
    border-color: black;
}

#deleteSigButton:hover {
    cursor: pointer;
    background-color:lime;
    color: crimson;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
        -1px -1px 0 black;
}

#thanx {
    font-size: 45px;
    margin:20px;
    color:orangered;
    text-shadow: -0 0 2px red, 0 -0 2px red, 0 0 2px red,
        -0 -0 2px red;
    letter-spacing: 2px;
}

#thanxCanvas {
    background-image: url("canvasback2.jpg");
    width:380px;
    height:280px;
    background-color:red;

    background-size:cover;
}

#yourSignature {
    width:220px;
    height:160px;
    margin-top: 60px;
    margin-left: 80px;
}

#delete {
    align-self: flex-end;
    text-decoration: none;
    letter-spacing: 2px;
    color:red;
    font-family: monospace;
  
}

#back {
    align-self: flex-end;
    text-decoration: none;
    color:white;
    margin:0;
}

#back:hover {
    color:yellow;
}

#backDelete {
    position:fixed;
    bottom:0;
    right:10px;
    text-decoration: none;
    color:white;
    margin:0;
}

#backDelete:hover {
    color:yellow;
}

#delConfirm {
    text-decoration: none;
    color: lime;
    margin:0;
}

#delConfirm:hover {
    color:yellow;
}

#signers {
    height:80vh;
}

#signers h1 {

    font-size: 70px;
    text-align: center;
    letter-spacing: 6px;
    text-shadow: -1px 1px 5px yellow, 1px -1px 5px yellow, 1px 1px 5px yellow,
        -1px -1px 5px yellow;
        color:black;
}

#signers p {
    color:red;
    letter-spacing: 2px;
    font-size: 40px;
    border-style: dotted;
    border-color: white;
    text-align:center;
    font-family: monospace;
    height:55px;
    
}

#signers a {
    text-decoration: none;
    color:white;
    letter-spacing: 1px;
}

#signers a:hover {
    color:yellow;
}

#login {
    text-decoration: 0;
    position:fixed;
    bottom:0;
    right:10px;
    color:white;
}


footer {
    position: fixed;
    left:0;
    bottom:0;
    font-family: monospace;
    font-size: small
}

